<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 引入jdbc配置文件 -->
    <bean id="jdbc"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:locations="classpath:/jdbc.properties"
            />

    <!--创建jdbc数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{jdbc['driver']}"/>
        <property name="url" value="#{jdbc['url']}"/>
        <property name="username" value="#{jdbc['username']}"/>
        <property name="password" value="#{jdbc['password']}"/>
        <property name="initialSize" value="#{jdbc['initialSize']}"/>
        <property name="maxActive" value="#{jdbc['maxActive']}"/>
        <property name="maxIdle" value="#{jdbc['maxIdle']}"/>
        <property name="minIdle" value="#{jdbc['minIdle']}"/>
    </bean>

    <!-- 创建SqlSessionFactory，同时指定数据源-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="annotationClass" value="com.imethod.core.jdbc.ibatis.IMapper"/>
        <property name="basePackage" value="com.imethod"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>