<%
var questionList = questionList || [];
var qLength = questionList.length;
%>
<%
for(var i = 0;i < qLength;i++){
    var question = questionList[i];
    var answerList = question.answerList;
%>
<div class="question-item">
    <i class="question-index"></i>
    <% if(question['questionType'] == 'multiple_choice'){ %>
    <% include('./type/multiple_choice',{
    question:question,
    answerList:answerList
    }) %>
    <% }else if(question['questionType'] == 'multiple_answers'){ %>
    <% include('./type/multiple_answers',{
    question:question,
    answerList:answerList
    }) %>
    <% }else if(question['questionType'] == 'fill_in_blank'){ %>
    <% include('./type/fill_in_blank',{
    question:question,
    answerList:answerList
    }) %>
    <% } %>
</div>
<% } %>