<%
var menuList = menuList || [];
var menuLength = menuList.length;
var active = active || '';
%>

<div class="course-nav">
    <ul class="nav">
        <%
        for (var i = 0; i < menuLength; i++) {
            var menu = menuList[i];
        %>
        <li menu_id="<%= menu.menuId %>">
            <a href="<%= menu.menuUrl %>" class="<% if(menu.active === active){ %>active<% } %>">
                <%= menu.menuText %>
            </a>
        </li>
        <% } %>
    </ul>
</div>