<%
var assignmentList = assignmentList || [];
var aLength = assignmentList.length;
var toggleClass = toggleClass || "";
%>
<%
for(var i = 0;i < aLength;i++){
    var unit = assignmentList[i];
%>
<div class="unit-list" data-unit-id="<%= unit['unitId'] %>">
    <h4>
        <%= unit['title'] %>
        <span class="gxb-icon-toggle <%= toggleClass %>">

        </span>
    </h4>
    <% include('./chapter',{
    chapterList:unit.chapterList
    }) %>
</div>
<% } %>