@charset "utf-8";
.w16 {
  width: 16px;
}
.w120 {
  width: 120px;
}
.w180 {
  width: 180px;
}
.w270 {
  width: 270px;
}
.h16 {
  width: 16px;
}
.h540 {
  width: 540px;
}
.fl {
  float: left;
}
.fn {
  float: none;
}
.fr {
  float: right;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.pd-5-10 {
  padding: 5px 10px;
}
.mg-0-auto {
  margin: 0 auto;
}
.mt10 {
  margin-top: 10px;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.mt30 {
  margin-top: 30px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.psa {
  position: absolute;
}
.psr {
  position: relative;
}
.t10 {
  top: 10px;
}
.l10 {
  left: 10px;
}
.lt0 {
  top: 0;
  left: 0;
}
.rt0 {
  top: 0;
  right: 0;
}
.lb {
  left: 0;
  bottom: 0;
}
.rb {
  right: 0;
  bottom: 0;
}
.tf {
  transform: rotate(30deg);
}
/*
定义圆角
@radius 圆角大小
*/
.round7 {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
/*
盒子阴影
@right_left 右边阴影为正数 左边负数
@bottom_top 下边阴影为正数 上边负数
@box  阴影大小
@box_color 阴影颜色
*/
.box-shadow7 {
  box-shadow: 7px 7px 7px #000000;
  -moz-box-shadow: 7px 7px 7px #000000;
  -webkit-box-shadow: 7px 7px 7px #000000;
}
/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
@text  阴影大小
@text_color 阴影颜色
*/
.r_b_text-shadow {
  text-shadow: 5px 5px 5px #b6ebf7;
}
/*
透明度 或渐变 1为不透明 0透明
css3 rgba(110, 142, 185, .4)!important;前三个是颜色值 后一个是透明值
用来兼容所有浏览器
*/
.rgba4 {
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: 0.4;
}
/*
列布局
@c1 列数
@c2 列宽
@c3 列间距
@c4 边框样式
*/
.my_column {
  column-count: 3;
  column-width: 50px;
  column-gap: 3px;
  column-rule: 1px solid #cccccc;
  -webkit-column-count: 3;
  -webkit-column-width: 50px;
  -webkit-column-gap: 3px;
  -webkit-column-rule: 1px solid #cccccc;
  -moz-column-count: 3;
  -moz-column-width: 50px;
  -moz-column-gap: 3px;
  -moz-column-rule: 1px solid #cccccc;
}
/*背景渐变
@start  渐变开始颜色
@end  结束颜色
*/
.my_bg {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(yellow));
  background: -moz-linear-gradient(top, red, yellow);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=red, endColorstr=yellow, grandientType=0);
}
/*
画轮廓 就是内部框
@outline 样式
@outline1 间距 负数在内部
*/
.my_outline {
  outline: 1px solid #669999;
  outline-offset: -10px;
}
/*
旋转角度
@ro定义度数
IE不支持 滤镜支持0，1，2，3
*/
.rotate50 {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*
菱形旋转角度
@x横向缩放比例
@y纵向缩放比例
*/
.skew30 {
  transform: skew(50deg, 30deg);
  -webkit-transform: skew(50deg, 30deg);
  -moz-transform: skew(50deg, 30deg);
  -o-transform: skew(50deg, 30deg);
  -ms-transform: skew(50deg, 30deg);
}
/*
放大缩小
@x横向缩放比例
@y纵向缩放比例
*/
.my_scale {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
}
/*
移动距离
@x横向移动距离
@y纵向移动距离
*/
.translate80 {
  transform: translate(80px, 80px);
  -webkit-transform: translate(80px, 80px);
  -moz-transform: translate(80px, 80px);
  -o-transform: translate(80px, 80px);
  -ms-transform: translate(80px, 80px);
}
/*
综合上面4种变化,效果看下面的过度动画
@rotate
@scale
@skew
@translate
*/
.my_transform {
  transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -webkit-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -moz-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -o-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -ms-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*
过度动画
id是css属性
2s过度时间 0s是开始时间
ease-in进入
*/
.my_tran:hover {
  transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -webkit-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -moz-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -o-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  -ms-transform: rotate(360deg) scale(1, 1) skew(0deg, 0deg) translate(100px, 0px);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transition: all 2s ease-in 0s;
  -moz-transition: all 2s ease-in 0s;
  -o-transition: all 2s ease-in 0s;
  -webkit-transition: all 2s ease-in 0s;
}
/*
less文件中定义的函数
Animation 动画
@animation-name规定需要绑定到选择器的 keyframe 名称
@animation-duration规定完成动画所花费的时间，以秒或毫秒计,默认是 0。
@animation-timing-function规定动画的速度曲线。默认是 "ease"。
@animation-delay规定在动画开始之前的延迟。默认是 0。
@animation-iteration-count规定动画应该播放的次数。默认是 1。
@animation-direction规定是否应该轮流反向播放动画。默认是 "normal"。
*/
.my_animation {
  animation: mykeyframes 5s linear 2s infinite normal;
  /* Firefox: */
  -moz-animation: mykeyframes 5s linear 2s infinite normal;
  /* Safari 和 Chrome: */
  -webkit-animation: mykeyframes 5s linear 2s infinite normal;
  /* Opera: */
  -o-animation: mykeyframes 5s linear 2s infinite normal;
}
/***CSS定义的keyframes如下：****/
@keyframes mykeyframes {
  0% {
    background: red;
    left: 0;
    top: 0;
  }
  25% {
    background: yellow;
    left: 200px;
    top: 0;
  }
  50% {
    background: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background: green;
    left: 0;
    top: 200px;
  }
  100% {
    background: red;
    left: 0;
    top: 0;
  }
}
@-moz-keyframes mykeyframes {
  /* Firefox */
  0% {
    background: red;
    left: 0;
    top: 0;
  }
  25% {
    background: yellow;
    left: 200px;
    top: 0;
  }
  50% {
    background: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background: green;
    left: 0;
    top: 200px;
  }
  100% {
    background: red;
    left: 0;
    top: 0;
  }
}
@-webkit-keyframes mykeyframes {
  /* Safari 和 Chrome */
  0% {
    background: red;
    left: 0;
    top: 0;
  }
  25% {
    background: yellow;
    left: 200px;
    top: 0;
  }
  50% {
    background: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background: green;
    left: 0;
    top: 200px;
  }
  100% {
    background: red;
    left: 0;
    top: 0;
  }
}
@-o-keyframes mykeyframes {
  /* Opera */
  0% {
    background: red;
    left: 0;
    top: 0;
  }
  25% {
    background: yellow;
    left: 200px;
    top: 0;
  }
  50% {
    background: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background: green;
    left: 0;
    top: 200px;
  }
  100% {
    background: red;
    left: 0;
    top: 0;
  }
}
.nav li a {
  padding: 5px 10px;
  margin: 0;
}
.nav li a h2 {
  padding: 0;
  margin: 0;
  font-size: inherit;
}
