<% var title = title || ""; %>
<span class="chapter-title">
    <%= title %>
</span>
<span class="chapter-next">
    下一节
    <i class="gxb-icon-next"></i>
</span>
<span class="chapter-pre">
    上一节
    <i class="gxb-icon-pre"></i>
</span>
