<span class="gxb-label">
    最近学习
</span>
<span class="gxb-info">
    <%= learnLog.contextId || '...' %>
</span>
<a class="gxb-btn gxb-btn-action" href="<%= learnLog.redirectUri || 'javascript:void(0)' %>">
    继续学习
</a>
